*{
    margin: 0%;
    padding: 0%;
}
nav{
    padding: 29px 20px 14px 29px;
    display: flex;
    justify-content: space-between;
}
body{
    font-family: Inter, sans-serif;
    color: #1c4a36;
}
.jobly-image{
    width: 70px;
    height: 26px;
    margin-top: -5px;
    margin-left: -9px;
}
.nav__selector{
    color: #1c4a36;
    font-size: 16px;
    line-height: 17px;
    font-weight: 600;
    border: none;
    margin-left: 10px;
}
.nav__selector:hover{
    color: rgba(28, 74, 54, 0.77);
}
.nav__link{
    color: #1c4a36;
    font-size: 16px;
    line-height: 17px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 15px;
}
.nav__link:hover{
    color: rgba(28, 74, 54, 0.77);
}
.nav__div1{
    display: flex;
    margin-left: -68px;
}
.nav__div2{
    display: flex;
}
.bag-image{
    width: 18px;
    height: 18px;
    margin-left: 5px;
}
.nav__linkwithbackground{
    font-size: 15px;
    text-decoration: none;
    color: #1c4a36;
    background-color: #E4F5EE;
    margin-left: 4px;
    padding: 2px 5px 5px 5px;
}
.nav__button{
    align-items: center;
    border-radius: 4px;
    background-color: #e4f5ee;
    color: #1c4a36;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 20px;
    cursor: pointer;
    border: none;
    margin-top: -14px;
}
.nav__button:hover{
    background-color: #1c4a36;
    color: #fff;
}
header{
    display: flex;
    padding: 116px 67px;
    justify-content: space-between;
    background-color: #E4F5EE;
}
.header__toptext{
    padding: 4px 10px;
    border-radius: 2px;
    background-color: #fff;
    font-size: 13px;
    font-weight: 500;
    margin-right: 425px;
}
.header__title1{
    font-size: 65px;
    line-height: 65px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #1c4a36;
    font-weight: bold;
}
.header__paragraph{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 40px;
    line-height: 23px;
    margin-top: 20px;
}
.search-input{
    min-height: 40px;
    padding-left: 52px;
    border: 1px none #000;
    border-radius: 5px;
    background-image: url('https://assets.website-files.com/61139ac7385e74ae2ca2c6fd/6113b22bebab5541c30e796d_search.png');
    background-position: 23px 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    font-size: 16px;
    color: #E4F5EE;
}
.jobs-input{
    min-height: 65px;
    padding-left: 42px;
    border: 1px none #000;
    border-radius: 5px;
    padding-right: 42px;
    margin-left: 172px;
    background-color: #E4F5EE;
    cursor: pointer;
}
.jobs-input:hover{
    background-color: #1c4a36;
    color: #fff;
}
.header__form{
    width: 100%;
    height: 64px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    border-radius: 5px;
    background-color: #ffffff;
}
.header__div{
    display: flex;
    margin-top: 30px
}
.jobly-people-image{
    margin: -37px -3px -63px -3px;
}
.categories-text-gray{
    line-height: 23px;
    font-weight: 400;
    margin-right: 10px;
    color: #919191;
    font-size: 14px;
}
.categories-text-gray:hover{
    text-decoration: underline;
}
.header__links{
    line-height: 23px;
    font-weight: 400;
    margin-right: 10px;
    color: #686868;
    font-size: 14px;
    text-decoration: none;
}
.header__links:hover{
    text-decoration: underline;
}
.jobly-works{
    padding: 80px 67px 60px 67px;
}
.jobly-works-para1{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 23px;
    text-align: center;
}
.newwave-image{
    width: 70px;
    height: 35px;
    margin: 0 30px;
}
.friday-image{
    width: 85px;
    height: 20px;
    margin: 0 30px;
}
.backyard-image{
    width: 90px;
    height: 35px;
    margin: 0 30px;
}
.webflow-image{
    width: 90px;
    height: 22px;
    margin: 0 30px;
}
.retro-image{
    width: 80px;
    height: 44px;
    margin: 0 30px;
}
.jobly-works-images-div{
    display: flex;
    align-items: center;
    margin-left: 275px;
    margin-top: 20px;
}
.jobly-works-toptext{
    padding: 4px 10px;
    border-radius: 2px;
    background-color: #E4F5EE;
    font-size: 13px;
    font-weight: 500;
    margin-right: 540px;
    margin-top: 80px;
    margin-left: 516px;
}
.jobly-works-title2{
    font-size: 46px;
    line-height: 48px;
    font-weight: 700;
    margin: 20px 0 10px 0;
    text-align: center;
}
.jobly-works-div1{
    display: flex;
    margin: 52px 120px 10px 206px;
}
.jobly-works-icons{
    width: 50px;
    height: 50px;
    margin-left: 65px;
    margin-bottom: 10px;
}
.jobly-works-div2{
    padding: 10px;
}
.jobly-works-heading1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}
.jobly-works-heading2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-left: 28px;
}
.jobly-works-para2{
    margin-bottom: 10px;
    color: #686868;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    width: 82%;
}
.featured-jobs{
    padding: 80px 67px;
    background-color: #f2f8f5;
}
.featured-jobs-div1{
    display: flex;
    justify-content: space-between;
}
.featured-jobs-heading{
    margin-top: 10px;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 10px;
}
.featured-jobs-para1{
    color: #1c4a36;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 23px;
}
.featured-jobs-button{
    background-color: #1c4a36;
    color: #fff;
    align-items: center;
    border-radius: 4px;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 600;
    height: 45px;
    margin-top: 27px;
}
.featured-jobs-div2{
    display: flex;
    margin-top: 50px;
}
.featured-jobs-para2{
    line-height: 23px;
    font-weight: 400;
    margin-right: 10px;
    color: #919191;
    font-size: 14px;
}
.featured-jobs-para2:hover{
    text-decoration: underline;
}
.featured-jobs-links{
    line-height: 23px;
    font-weight: 400;
    margin-right: 10px;
    color: #686868;
    font-size: 14px;
    text-decoration: none;
}
.featured-jobs-links:hover{
    text-decoration: underline;
}
.ball-image{
    width: 55px;
    height: 55px;
    margin-left: 143px;
}
.featured-jobs-part-time{
    padding: 4px 10px;
    border-radius: 2px;
    background-color: #E4F5EE;
    font-size: 13px;
    font-weight: 500;
    margin-right: -16px;
    margin-left: 278px;
    margin-top: -15px;
}
.featured-jobs-part-time2{
    padding: 4px 10px;
    border-radius: 2px;
    background-color: #E4F5EE;
    font-size: 13px;
    font-weight: 500;
    margin-right: -18px;
    margin-top: -15px;
}
.featured-jobs-featured{
    padding: 4px 10px;
    border-radius: 2px;
    background-color: #f3d0e4;
    font-size: 13px;
    font-weight: 500;
    margin-top: -15px;
}
.featured-jobs-balls-div{
    background-color: #fff;
    padding: 25px;
    width: 344px;
    height: 269px;
    margin-right: 17px;
}
.featured-jobs-div3{
    display: flex;
    margin-top: 22px;
    margin-bottom: 15px;
}
.featured-jobs-div4{
    display: flex;
    margin-bottom: 50px;
}
.company-name{
    color: #1c4a36;
    font-size: 15px;
    text-align: center;
}
.job-name{
    color: #1c4a36;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
}
.featured-jobs-links{
    color: #868686;
    font-size: 14px;
    line-height: 26px;
    margin-right: 10px;
}
.featured-jobs-links:hover{
    color: #333333;
}
.featured-jobs-button{
    font-size: 14px;
    font-weight: 600;
    background-color: #1c4a36;
    color: #fff;
    border-radius: 4px;
    padding: 12px 20px;
    margin-left: 100px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}
.featured-jobs-button:hover{
    background-color: #377057;
}
.featured-jobs-links-div{
    text-align: center;
}
.featured-jobs-topdiv{
    display: flex;
    justify-content: space-between;
}
.subhead{
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    margin-bottom: 25px;
}
.blog-overlay{
    display: flex;
    justify-content: space-around;
}
.job-name-white{
    background-image: url('https://assets.website-files.com/61139ac7385e7459f5a2c733/6113efe1f15ea61d44ebdf19_miami.jpg');
    background-size: cover;
    width: 277px;
    height: 180px;
}
.job-name-white-head{
    padding: 0 80px 30px 80px;
    font-size: 22px;
    margin-top: 140px;
    text-align: center;
    color: #fff;
}
.job-name-uk-head{
    padding: 0 80px 30px 80px;
    font-size: 22px;
    margin-top: 139px;
    text-align: center;
    color: #fff;
    width: 56%;
    margin-left: -22px;
}
.job-name-ny{
    background-size: cover;
    width: 277px;
    height: 180px;
    background-image: url('https://assets.website-files.com/61139ac7385e7459f5a2c733/6113efeda7cb92c6f8caaa81_man.jpg');
}
.job-name-uk{
    background-size: cover;
    width: 277px;
    height: 180px;
    background-image: url('https://assets.website-files.com/61139ac7385e7459f5a2c733/6113eff54a0219a30c964948_london.jpg');
}
.job-name-remote{
    background-size: cover;
    width: 277px;
    height: 180px;
    background-image: url('https://assets.website-files.com/61139ac7385e7459f5a2c733/6113efff48b4aa1a2a3c70b6_remote.jpg');
}
.featured-jobs-faq{
    padding: 4px 10px;
    border-radius: 2px;
    background-color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #1c4a36;
    margin-top: 80px;
    margin-left: 576px;
    margin-right: 578px;
}
.faq-title2{
    font-size: 46px;
    line-height: 48px;
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight: 700;
    text-align: center;
    width: 49%;
    margin-left: 311px;
}
.faq-div{
    margin-left: 338px;
}
.faq-details{
    padding: 15px 40px 12px 0;
}
.faq-text{
    color: #1c4a36;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 18px;
}
.faq-para{
    color: #686868;
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 65%;
}
.testomonials{
    padding: 80px 67px;
}
.testomonials-text1{
    background-color: #e4f5ee;
    color: #1c4a36;
    padding: 4px 10px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin-left: 547px;
    margin-right: 549px;
}
.testomonials-text2{
    font-size: 46px;
    line-height: 48px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}
.boy-image{
    width: 80px;
    height: 83px;
    border-radius: 52px;
    margin-left: 568px;
    margin-top: 50px;
}
.testomonials-para1{
    width: 56%;
    color: #346b53;
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    text-align: center;
    margin-left: 272px;
    margin-top: 20px;
    margin-bottom: 22px;
}
.testomonials-para2{
    font-size: 17px;
    color: #346b53;
    margin-bottom: 3px;
    text-align: center;
}
.boxes{
    margin-left: 587px;
    margin-top: 19px;
    margin-bottom: 200px;
}
.mob-image{
    width: 550px;
    height: 620px;
}
.mob-div1{
    display: flex;
}
.mob-div2{
    display: flex;
    flex-direction: column;
    margin-top: 111px;
    margin-left: 107px;
}
.mob-div3{
    display: flex;
}
.mob-heading1{
    padding: 4px 10px;
    border-radius: 2px;
    background-color: #E4F5EE;
    color: #346b53;
    font-size: 13px;
    font-weight: 500;
    margin-right: 408px;
}
.mob-heading2{
    font-size: 46px;
    line-height: 48px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 86%;
}
.mob-para{
    color: #1c4a36;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 30px;
}
.mob-heading3{
    margin-bottom: 10px;
    color: #686868;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    margin-right: 15px;
}
.tickmark-image{
    width: 13px;
    height: 13px;
    background-color: #E4F5EE;
    margin: 0 6px 10px 0;
    padding: 4px;
}
.mob-button1{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 55px;
    background-image: url('https://assets.website-files.com/61139ac7385e74ae2ca2c6fd/6113bee21e0b26224cc8ecf5_icons8-apple-logo-250.png');
    background-position: 20px 50%;
    background-size: 24px;
    background-repeat: no-repeat;
    font-size: 15px;
    align-items: center;
    border-radius: 4px;
    background-color: #e4f5ee;
    color: #1c4a36;
    font-weight: 600;
    padding-right: 23px;
    border: none;
    margin-right: 15px;
    cursor: pointer;
}
.mob-button1:hover{
    background-color: #f2f8f5;
}
.mob-button2{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 55px;
    background-image: url('https://assets.website-files.com/61139ac7385e74ae2ca2c6fd/6113bee20c7714847d2146ad_icons8-google-play-250.png');
    background-position: 20px 50%;
    background-size: 24px;
    background-repeat: no-repeat;
    font-size: 15px;
    align-items: center;
    border-radius: 4px;
    background-color: #e4f5ee;
    color: #1c4a36;
    font-weight: 600;
    padding-right: 23px;
    border: none;
    cursor: pointer;
}
.mob-button2:hover{
    background-color: #f2f8f5;
}
.mob-button-div{
    margin-top: 60px;
}
.client-head1{
    color: #fff;
    font-size: 15px;
}
.client-slash{
    margin: 0 10px;
    color: #B6B6B6;
}
.client-head-div{
    display: flex;
    margin-top: 277px;
    margin-left: 120px;
}
.client-main-head{
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    margin: 15px 0 32px 0;
    width: 88%;
    text-align: center;
    margin-left: 37px;
}
.client-button{
    align-items: center;
    border-radius: 4px;
    background-color: #e4f5ee;
    padding: 12px 20px;
    color: #1c4a36;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-left: 28px;
}
.client-button:hover{
    background-color: #346b53;
    color: #fff;
}
.client-div1{
    display: flex;
    margin-top: 60px;
}
.client-div2{
    text-align: center;
    background-image: url('https://assets.website-files.com/61139ac7385e7459f5a2c733/6113e6ba7d178c3fcc2cef86_blog-1-p-800.jpeg');
    width: 470px;
    height: 467px;
    background-size: cover;
    padding: 0 80px 30px 80px;
    border-radius: 2px;
    margin-right: 20px;
}
.client-div3{
    text-align: center;
    background-image: url('https://assets.website-files.com/61139ac7385e7459f5a2c733/6113e6c5c9213a1b20b92ebb_blog-2-p-800.jpeg');
    width: 470px;
    height: 467px;
    background-size: cover;
    padding: 0 80px 30px 80px;
    border-radius: 2px;
    margin-left: 10px;
}
.question{
    padding: 50px 67px;
    background-color: #1c4a36;
}
.question__head{
    font-size: 46px;
    line-height: 48px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}
.question__title1{
    padding: 4px 10px;
    background-color: #E4F5EE;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    color: #1c4a36;
    border: none;
    margin-left: 563px;
}
.question__para{
    font-size: 17px;
    color: #FFFFFFCC;
    margin-bottom: 10px;
    text-align: center;
    line-height: 23px;
    font-weight: 500;
    width: 39%;
    margin-left: 375px;
}
.question__links{
    font-size: 17px;
    color: #FFFFFFCC;
}
.question__links:hover{
    text-decoration: none;
}
footer{
    padding: 40px 67px 20px 67px;
}
.footer__joblyimage{
    width: 70px;
    height: 26px;
}
.footer__div1{
    margin: 0 67px;
}
.twitter-image{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.footer__div2{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 50px;
    padding-bottom: 30px;
}
.footer__button{
    background-color: #1c4a36;
    color: #fff;
    padding: 12px 20px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.footer__button:hover{
    background-color: #377057;
}
.footer__title{
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    color: #1c4a36;
}
.footer__div3{
    display: flex;
    justify-content: space-between;
}
.footer__div4{
    display: flex;
    flex-direction: column;
}
.footer__div5{
    display: flex;
    flex-direction: column;
    margin-right: -66px;
}
.footer__div6{
    display: flex;
    flex-direction: column;
    margin-right: 124px;
}
.footer__links{
    margin-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #1c4a36;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    text-decoration: none;
}
.footer__links:hover{
    color: #377057;
}
.footer__imagesdiv{
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 10px;
}
.footer__lastpara{
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    color: #686868;
}
.footer__lastlink{
    font-weight: 500;
    font-size: 15px;
    color: #1c4a36;
}
.footer__lastlink:hover{
    text-decoration: none;
}